<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prashant Singh</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/progressbar/style.css">
        <link rel="stylesheet" href="/css/progressbar/jquery.rprogessbar.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
            integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
    </head>
    <!--https://www.themezy.com/demos/151-ceevee-free-responsive-website-template-->

    <body>
        <div class="loading">
            <div style="position: absolute; top: 40%; left: 45%;">
                <img src="/images/loading.gif" alt="loadingspinner">
            </div>
        </div>
        <nav class="navbar">
            <div class="content">
                <div class="logo"><a href="#">Prashant Singh</a></div>
                <ul class="menu-list">
                    <div class="icon cancel-btn">
                        <i class="fa fa-times"></i>
                    </div>
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <div class="icon menu-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </nav>
        <section class="banner">
            <div class="intro-container">
                <h4>Hey... I'm</h4>
                <h1>Prashant Singh</h1>
                <p>Software Engineer - 2</p>
            </div>

        </section>
        <section id="about">
            <div class="column-layout">
                <div class="section-item-heading">
                    <h1>
                        <span class="underline">About</span>
                    </h1>
                </div>
                <div>
                    <div class="intro-info">
                        <h1>About Me</h1>
                        <p>Experienced frontend developer with 3+ years of expertise in JavaScript, jQuery, HTML, CSS,
                            Docker, Kubernetes, Node.js, and Express.js. Proficient in creating visually appealing and
                            interactive web applications using modern frontend technologies. Skilled in containerization
                            with Docker and managing containerized applications with Kubernetes. Strong backend
                            development skills utilizing Node.js and Express.js. Collaborative team player with a keen
                            eye for design and a passion for creating seamless user experiences.</p>
                    </div>
                    <div class="contact-info">
                        <div>
                            <h1>Contact Details</h1>
                            <p>Prashant Singh</p>
                            <p>29th C Cross Konddappa Layout</p>
                            <p>Kaggaddaspura 560093</p>
                            <p>Bengalore India</p>
                            <br>
                            <p>(+91) 7007396475</p>
                            <p>prashant67singh@gmail.com</p>
                        </div>
                        <form class="downloadCV" method="get" action="/downloadCV">
                            <button type="submit"><i class="fa fa-download"></i>Download Resume</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="work">
            <div class="column-layout">
                <div class="section-item-heading">
                    <h1>
                        <span class="underline">Work</span>
                    </h1>
                </div>
                <div class="list-container">
                    <div class="education-item">
                        <h1 class="institute-name">FICO</h1>
                        <div class="degree-name">
                            <span>Software Engineer - 2</span>
                            <ul style="margin: 0 30px;">
                                <li>2019 - present</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                High-achieving B.Tech student with an exceptional CGPA of 9.22. Demonstrated commitment
                                to academic excellence and a strong grasp of core concepts. Actively engaged in
                                projects, internships, and extracurricular activities to enhance knowledge and skills.
                            </p>
                        </div>
                    </div>
                    <div class="education-item">
                        <h1 class="institute-name">HighRadius</h1>
                        <div class="degree-name">
                            <span>Software Engineer - Intern</span>
                            <ul style="margin: 0 30px;">
                                <li>2019</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                CBSE board Intermediate graduate with PCM subjects, achieving an outstanding 96% score.
                                Demonstrated proficiency in Physics, Chemistry, and Mathematics, showcasing strong
                                problem-solving abilities. Committed to academic excellence and poised for success in
                                higher education and beyond.
                            </p>
                        </div>
                    </div>
                    <div class="education-item">
                        <h1 class="institute-name">DRDO Jodhpur</h1>
                        <div class="degree-name">
                            <span>Research Intern</span>
                            <ul style="margin: 0 30px;">
                                <li>2018</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                Accomplished ICSE Matriculation graduate with an impressive score of 91%. Demonstrated
                                excellence across all subjects, showcasing a strong academic foundation. Committed to
                                continuous learning and achieving academic success. Ready to apply my knowledge and
                                skills to pursue further education and contribute positively to future endeavors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="education" class="light-gray-background">
            <div class="column-layout">
                <div class="section-item-heading">
                    <h1>
                        <span class="underline">Education</span>
                    </h1>
                </div>
                <div class="list-container">
                    <div class="education-item">
                        <h1 class="institute-name">Kalinga Institute Of Industrial Technology</h1>
                        <div class="degree-name">
                            <span>Bachelors In Technology</span>
                            <ul style="margin: 0 30px;">
                                <li>2016 - 2020</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                High-achieving B.Tech student with an exceptional CGPA of 9.22. Demonstrated commitment
                                to academic excellence and a strong grasp of core concepts. Actively engaged in
                                projects, internships, and extracurricular activities to enhance knowledge and skills.
                            </p>
                        </div>
                    </div>
                    <div class="education-item">
                        <h1 class="institute-name">Little Flower House</h1>
                        <div class="degree-name">
                            <span>Intermediate</span>
                            <ul style="margin: 0 30px;">
                                <li>2014 - 2016</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                CBSE board Intermediate graduate with PCM subjects, achieving an outstanding 96% score.
                                Demonstrated proficiency in Physics, Chemistry, and Mathematics, showcasing strong
                                problem-solving abilities. Committed to academic excellence and poised for success in
                                higher education and beyond.
                            </p>
                        </div>
                    </div>
                    <div class="education-item">
                        <h1 class="institute-name">Holy Cross School</h1>
                        <div class="degree-name">
                            <span>Matriculation</span>
                            <ul style="margin: 0 30px;">
                                <li>2002 - 2014</li>
                            </ul>
                        </div>
                        <div class="degree-info">
                            <p>
                                Accomplished ICSE Matriculation graduate with an impressive score of 91%. Demonstrated
                                excellence across all subjects, showcasing a strong academic foundation. Committed to
                                continuous learning and achieving academic success. Ready to apply my knowledge and
                                skills to pursue further education and contribute positively to future endeavors.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="column-layout">
                <div class="section-item-heading">
                    <h1>
                        <span class="underline">Skills</span>
                    </h1>
                </div>
                <div class="list-container">
                    <div class="single-progressbar">
                        <h4 class="title">Html</h4>
                        <div class="html"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">CSS</h4>
                        <div class="css"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Javascript</h4>
                        <div class="javascript"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Jquery</h4>
                        <div class="jquery"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Node</h4>
                        <div class="node"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Express.js</h4>
                        <div class="express"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Docker</h4>
                        <div class="docker"></div>
                    </div>
                    <div class="single-progressbar">
                        <h4 class="title">Kubernetes</h4>
                        <div class="k8s"></div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="contact-container">
                <div class="contact-header">
                    <div class="contact-header-container">
                        <h1>Get In Touch &nbsp;<i class="fa fa-envelope-o"></i></h1>
                    </div>
                    <div class="contact-header-summary">
                        <p>You can get in touch with me through various methods, such as a contact form where you fill
                            in your name, email, subject and message. Alternatively, you can send a letter or package
                            through mail to my physical address, though response times may be slower. Another option is
                            to dial phone number for direct and immediate communication. Lastly, you can send me an
                            email on my email address, ensuring you include a clear subject line and all necessary
                            information. It's important to be polite, concise, and check the preferred contact method of
                            the recipient.</p>
                    </div>
                </div>
                <div class="contact-main">
                    <div class="contact-main-left">
                        <form action="/contact" method="post">
                            <div>
                                <label for="name">Name<sup>*</sup></label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div>
                                <label for="email">Email<sup>*</sup></label>
                                <input type="email" name="email" id="email">
                            </div>
                            <div>
                                <label for="subject">Subject<sup>*</sup></label>
                                <input type="text" name="subject" id="subject">
                            </div>
                            <div class="contact-message">
                                <label for="message">Message<sup>*</sup></label>
                                <textarea name="message" id="message" cols="30" rows="5"></textarea>
                            </div>
                            <div><button type="submit">Submit</button></div>
                        </form>
                    </div>
                    <div class="contact-main-right">
                        <div>
                            <h4>Address Details</h4>
                            <p>Prashant Singh</p>
                            <p>29th C Cross Konddappa Layout</p>
                            <p>Kaggaddaspura 560093</p>
                            <p>Bengalore India</p>
                            <br>
                            <h4>Contact Details</h4>
                            <p>(+91) 7007396475</p>
                            <p>prashant67singh@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-container">
                <div class="icon-container">
                    <i class="fa fa-facebook" title="Facebook"></i>
                    <i class="fa fa-google-plus" title="Google"></i>
                    <i class="fa fa-twitter" title="Twitter"></i>
                    <i class="fa fa-linkedin" title="Linkedin"></i>
                    <i class="fa fa-github" title="Github"></i>
                    <i class="fa fa-instagram" title="Instagram"></i>
                </div>
                <div class="copy-right">
                    <ul>
                        <li>Created by <span>Prashant Singh</span></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
        <script src="/js/jQuery.rProgressbar.min.js"></script>
        <script src="/js/active.js"></script>

        <script>
            $(document).ready(function () {

                $('.loading').fadeOut(2000);
                const menu = document.querySelector('.menu-list');
                const menuBtn = document.getElementsByClassName('menu-btn')[0];
                const cancelBtn = document.getElementsByClassName('cancel-btn')[0];

                menuBtn.addEventListener('click', () => {
                    menu.classList.add("active");
                    menuBtn.classList.add('hide');
                });

                cancelBtn.addEventListener('click', () => {
                    menu.classList.remove("active");
                    menuBtn.classList.remove('hide');
                });

                $(document).on('click','nav li a', ()=>{
                    cancelBtn.click();
                });

                $(document).on('scroll', () => {
                    if ($(this).scrollTop() > 500) {
                        $('.navbar').css("background-color", "#000000");
                    } else {
                        $('.navbar').css("background-color", "");
                    }
                });

                $(".banner").ripples({
                    resolution: 200,
                    perturbance: .006,
                });

                $(window).scroll(function () {
                    var scrollPosition = $(window).scrollTop() + 200;
                    $('section').each(function () {
                        var sectionOffset = $(this).offset().top;
                        var sectionHeight = $(this).outerHeight();
                        var totalSectionHeight = sectionOffset + sectionHeight;
                        if (scrollPosition >= sectionOffset && scrollPosition < totalSectionHeight) {
                            var sectionId = $(this).attr('id');
                            if(sectionId == undefined){
                                sectionId ="/"
                            }else{
                                sectionId="#"+sectionId;
                            }
                            $('nav li a').removeClass('active');
                            $('nav li a[href="' + sectionId + '"]').addClass('active');
                        }
                    });
                });
            });
        </script>
    </body>

</html>