*{
    margin: 0;
    padding: 0;
}

.login-container{

    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url('../images/1900932.webp');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position: right bottom;
}

.login-form-container{
    width: 500px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.393);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    margin-bottom: 5%;
}

.login-header{
    margin: 1rem 1rem;
}

.login-form-icon{
    width: 170px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-image: url('../images/monkey.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.login-form-icon img{
    width: 140px;
    height: 140px;
    margin-top: 70%;
    margin-right: 6px;
    transition: 1s;
}

.login-form-container form{
    width: 450px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.login-form-container form input{
    width: 400px;
    height: 40px;
    margin: 1rem 0 1rem 1rem;
    border-radius: 20px 20px;
    padding: 0 20px;
    font-size: 18px;
    border: none;
    box-shadow: 2px 2px 10px 2px grey;
}

.login-form-container form input:focus{
    outline: none;
}

.login-form-container form button{
    width: 440px;
    height: 40px;
    margin: 1rem 0 1rem 1rem;
    border-radius: 20px 20px;
    font-size: 18px;
    border: none;
    background-color: aquamarine;
}

.login-form-container form button:hover{
    background-color: rgb(142, 231, 201);
    color: rgb(23, 23, 23);
}
