@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:wght@200;300;400;500;600;700&family=Ubuntu:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.loading{	
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: block;
    background: rgb(255, 255, 255);
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
  /* background-color: #000000db; */
}

.content {
  max-width: 100%;
  margin: auto;
  padding: 0px 30px;
}

.navbar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
  margin-left: 20px;
  transition: all 0.2 ease;
}

.navbar .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.banner {
  height: 100vh;
  background: url("../images/IMG_3485.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.intro-container {
  width: 40%;
  height: 40%;
  margin-bottom: 75px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-left: 25px;
  line-height: 1.6;
}
.intro-container h1 {
  font-size: 3.3rem;
  font-weight: 600;
}

.intro-container h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.intro-container p {
  font-weight: 300;
}

.icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.cancel-btn {
  position: absolute;
  top: 20px;
  right: 15px;
}

.menu-list.active {
  left: 0%;
}

section {
  padding: 60px 0;
  height: 800px;
}

.column-layout {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin: 40px 40px;
  justify-items: center;
}

.section-item-heading {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

#about {
  background-color: #2b2b2b;
  color: #fbfafa;
  height: fit-content;
}

#about .intro-info {
  padding-bottom: 2rem;
}

#about .intro-info h1 {
  padding-bottom: 1.5rem;
}

#about .contact-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 1rem 0;
  justify-content: space-around;
  line-height: 1.8;
}

#about .contact-info h1 {
  padding-bottom: 1.5rem;
}

.light-gray-background {
  background: #fbfafa !important;
}

.underline {
  border-bottom: 3px solid #11abb0;
  padding-bottom: 6px;
  font-weight: 400;
}

.downloadCV {
  margin: auto;
  justify-items: center !important;
}

.downloadCV button {
  padding: 12px 50px;
  font-size: 1rem;
  background: #444;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
}

.downloadCV button i {
  padding: 5px 10px;
}

.downloadCV button:hover {
  background: #fff;
  color: #222;
}

#work{
  height: fit-content;
}

.list-container{
  display: flex; 
  flex-direction: column; 
  justify-self: flex-start;
  width: 100%;
}

.intro-info h1,
.contact-info h1{
  font-weight: 500;
}

.intro-info p,
.contact-info p {
  width: 90%;
  text-align: justify;
  line-height: 1.6;
  font-size: 15px;
  color: #7a7a7a;
}

#education{
  height: fit-content;
}
.education-item{
  margin-bottom: 2.5rem;
}
.institute-name{
  font-size: 25px;
  padding-bottom: 0.8rem;
  font-weight: 600;
}

.degree-name{
  display: inline-flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  color: #6E7881;
}

.degree-name span{
  font-family: 'Libre Baskerville', serif;
}

.degree-info{
  width: 80%;
}

.degree-info p{
  color:#6E7881;
  font-weight: 300;
  line-height: 1.9;
}

#skills{
  height: fit-content;
}


#contact{
  height: fit-content;
  background-color: #2b2b2b;
  width: 100%;
}

.contact-header-container{
  width:200px;
  height: 100%;
  margin: auto;
}

.contact-header-container h1{
  font-weight: 500;
  color: #fbfafa;
}

.contact-container{
  margin: auto;
  width: 80%;
  height: fit-content;
}

.contact-header{
  width: 100%;
  height: 100px;
}

.contact-main{
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}

.contact-main-left{
  height: fit-content;
}

.contact-main-left form div {
  margin: 0.5rem auto;
}

.contact-main-left form div sup{
  margin: 0 1px;
  color: #11abb0;
}

.contact-main-left form div label{
  margin: 1rem auto;
  display: inline-block;
  width: 20%;
  padding-left: 1rem;
  color: #fbfafa;
  font-weight: 400;
}
.contact-main-left form div input{
  margin: 1rem auto;
  width: 60%;
  height: 40px;
  padding-left: 1rem;
  background-color: #373233;
  border: none;
}
.contact-message textarea{
 width: 60%;
 background-color: #373233;
 border: none;
 margin-left: 5px;
}

.contact-message{
  display: flex;
  align-items: center;
  margin: 2rem auto !important;
}
.contact-message label{
  margin: 0 0 !important;
}

.contact-main-left form div input:focus,
.contact-message textarea:focus{
  outline: none;
  background-color: #11abb0;
  color: #fbfafa;
  padding: 5px 5px;
}

.contact-main-left form div button {
  margin-left: 0.8rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  position: relative;
  left: 19%;
  bottom: 2%;
  color: #fbfafa;
  background-color: #000;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact-main-left form div button:hover{
  color: #000;
  background-color: #fbfafa;
  font-weight: 600;
}


.contact-main-right{
  height: fit-content;
  margin: 1.5rem 0;
  color: #636363;
}

.contact-main-right h4{
  color: #fbfafa;
}

@media (max-width: 1024px) {
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #222;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu-list li {
    margin-top: 45px;
    font-size: 23px;
    margin-left: 0px;
  }

  .navbar .menu-list.active {
    left: 0%;
  }

  .icon {
    display: block;
  }

  .menu-btn.hide {
    display: none;
  }

  .intro-container {
    width: 100%;
  }

  .column-layout {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px 40px;
  }

  #about .section-item-heading {
    display: none;
  }

  #about .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }

  .downloadCV {
    margin: 1.5rem 0;
  }

  .section-item-heading{
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 20px;
  }
  .contact-header-container{
    margin: 0 1rem;
  }

  .contact-main{
    display: grid;
    grid-template-columns: 1fr;
  }


  .contact-main-left form div label {
    display: block;
    margin: 0.5rem 0;
  }
  .contact-main-left form div input {
    margin: 0 1rem;
  }

  .contact-message{
    display: block;
    margin: 0.5rem auto 1rem auto !important;
  }

  .contact-message label{
    margin: 0.5rem 0 !important;
  }

  .contact-message textarea{
    width: 60%;
    background-color: #373233;
    border: none;
    margin: 0 1rem;
   }
  .contact-main-left form div button{
    margin-top: 1rem;
    left: 0%;
  }
}
